
body {
    font-family: Arial, sans-serif;
    background: #ece8e8;
    transition: .3s ease all;
    &.dark { 
        background: #181717;
  }
 }
  


    .calendar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 58%;
    }

    .calendar-header {
      display: flex;
      justify-content: space-between;
      width: 600px;
      margin-bottom: 10px;
    }

    .calendar-header button {
      background-color: #41e2ba;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
    }

    .calendar-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
      max-width: 600px;
    }

    .calendar-cell {
      padding: 20px;
      border: 1px solid #ddd;
      text-align: center;
    }

    .calendar-cell-header {
      background-color: #f0f0f0;
    }

    .calendar-cell-today {
      background-color: #41e2ba;
    }

    .modal {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      padding: 20px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      align-items: center;
    }

    .calendar-cell-event {
      position: relative;
    }

    .calendar-cell-event::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgb(111, 200, 186);
    }

    .modal-content {
      background-color: rgb(225, 251, 240);
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      width: 30%;
      height: 100%;
      margin-left: auto;
    }

    .event-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
    }

    .event-item {
      background-color: #41e2ba;
      padding: 5px 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      cursor: pointer;
    }

    .event-item:hover {
      background-color: #0ad8a1;
    }

    .event-item:last-child {
      margin-bottom: 0;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    .content-title {
      background-color: #41e2ba;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 20px;
      border-radius: 8px 8px 0 0;
    }

    .content-modal {
      background-color: rgb(225, 251, 240);
      padding: 20px;
      border-radius: 8px;
    }

    #event-title {
      width: 75%;
      font-size: 22px;
      margin-top: 20px;
    }

    #event-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    input {
      background-color: rgb(225, 251, 240);
      border: 1px solid rgb(225, 251, 240);
    }

    .act-event {
      background-color: #41e2ba;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
    }

    .del-event {
      background-color: #41e2ba;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
    }

    .button-content {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      width: 100%;
      align-items: center;
      padding-top: 20px;

    }

    .add-event {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
      font-size: 16px;
      background-color: #41e2ba;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .event-list-ex {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
    }

    .event-item-ex {
      background-color: rgb(166, 228, 246);
      padding: 5px 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      cursor: pointer;
    }

    .event-item-ex:hover {
      background-color: #0ad8a1;
    }

    .event-item-ex:last-child {
      margin-bottom: 0;
    }

    .calendar-cell-event-ex {
      position: relative;
    }

    .calendar-cell-event-ex::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgb(166, 228, 246);
    }

    @media (max-width: 600px) {
      .calendar {
        width: 100%;
      }

      .calendar-grid {
        grid-template-columns: repeat(7, 1fr);
        justify-content: center;
      }

      .calendar-cell {
        padding: 3px;
        width: 50px;
      }

      .event-item {
        font-size: 7px;
        padding: 3px;
      }

      .event-item-ex {
        font-size: 7px;
        padding: 3px;
      }

      .calendar-header {
        width: 100%;
        flex-direction: row;
        align-items: center;
      }

      .calendar-header button {
        margin: 2px 0;
      }

      .calendar-grid {
        grid-template-columns: repeat(7, 1fr);
      }

      .modal-content {
        width: 100%;
        max-width: none;
      }


      #event-title {
        font-size: 18px;
      }
    }

    @media (max-width: 400px) {
      .calendar {
        width: 100%;
      }

      .calendar-header {
        width: 100%;
        flex-direction: row;
        align-items: center;
      }

      .calendar-header button {
        margin: 2px 0;
      }

      .calendar-grid {
        grid-template-columns: repeat(7, 1fr);
        justify-content: center;
      }

      .calendar-cell {
        padding: 3px;
        width: 40px;
      }

      .event-item {
        font-size: 6px;
        padding: 2px;
      }

      .event-item-ex {
        font-size: 6px;
        padding: 2px;
      }

      .modal-content {
        width: 100%;
        max-width: none;
      }

      #event-title {
        font-size: 16px;
      }
    }

    #event-ticker {
      font-weight: bold;
    }

  .calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .calendar-header {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 10px;
  }

  .calendar-header button {
    background-color: #41e2ba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 600px;
  }

  .calendar-cell {
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
  }

  .calendar-cell-header {
    background-color: #f0f0f0;
  }

  .calendar-cell-today {
    background-color: #41e2ba;
  }

  .modal {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    align-items: center;
  }

  .calendar-cell-event {
    position: relative;
  }

  .calendar-cell-event::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(111, 200, 186);
  }

  .modal-content {
    background-color: rgb(225, 251, 240);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 100%;
    margin-left: auto;
  }

  .event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .event-item {
    background-color: #41e2ba;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .event-item:hover {
    background-color: #0ad8a1;
  }

  .event-item:last-child {
    margin-bottom: 0;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .content-title {
    background-color: #41e2ba;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 8px 8px 0 0;
  }

  .content-modal {
    background-color: rgb(225, 251, 240);
    padding: 20px;
    border-radius: 8px;
  }

  #event-title {
    width: 75%;
    font-size: 22px;
    margin-top: 20px;
  }

  #event-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input {
    background-color: rgb(225, 251, 240);
    border: 1px solid rgb(225, 251, 240);
  }

  .act-event {
    background-color: #41e2ba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .del-event {
    background-color: #41e2ba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .button-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-top: 20px;

  }

  .add-event {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    background-color: #41e2ba;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .switch {
    background: rgb(122, 214, 206);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin: auto;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
}

.switch.active {
    background: #0ad8a1;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}
/* Estilos para el switch */
.switch {
    background: rgb(122, 214, 206);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin: auto;
    margin-left: -10px;
  }
  
  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
  }
  
  .switch.active {
    background: #0ad8a1;
    color: #000;
  }
  
  .switch.active::after {
    right: 0;
    left: unset;
  }
  
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }
  
  /* Estilos para el modo oscuro */
  body.dark-mode {
    background-color: #1d1c1c;
    color: #fff;
    transition: .3s ease all;
  }
  
  body.dark-mode nav {
    background-color: #1d1c1c;
    color: #fff;
  }
  
  body.dark-mode main.content {
    background-color: #0c0c0cfa;
    color: #fff;
  }
  
  body.dark-mode #calendar {
    /* Estilos específicos para el calendario en modo oscuro */
    background-color: #1d1c1c;
    color: #fff;
  }
  
  
  body.dark-mode .hamburger, .hamburger:after, .hamburger:before {
    /* Estilos específicos para el calendario en modo oscuro */
    background-color: #e6d8d8;
    color: #eeeff7;
  }

  .hamburger, .hamburger:after, .hamburger:before
  {
    background: #e5e8eb;
    border-radius: 1px;
    content: "";
    cursor: pointer;
    display: block;
    height: 3px;
    transition: background .1s ease-in-out, color .1s ease-in-out;
    width: 24px;
  }

  body.dark-mode .calendar-cell-header{
    background-color: #1d1c1c;

  }

  body.dark-mode  h1 {
    color: #faefef;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
  }

body.dark-mode  h2 {
    color: #faefef;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
  }

  body.dark-mode .text-dark {
    --bs-text-opacity: 1;
    color: rgb(224 230 235) !important;}

body.dark-mode .dropdown-toggle:after {
        color: rgb(224, 217, 217);
        border: solid;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
    }

    body.dark-mode footer.footer {
        background: #161515;
        direction: ltr;
        padding: 1rem .875rem;
    }

    /* ajuste de nav*/

    .navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: row-reverse;
}