body {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  background: #ece8e8;
  transition: 0.3s ease all;
}

body.dark {
  background: #181717;
}
.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 58%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-bottom: 10px;
}

.calendar-header button {
  background-color: #41e2ba;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-width: 600px;
}

.calendar-cell {
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
}

.calendar-cell-header {
  background-color: #f0f0f0;
}

.calendar-cell-today {
  background-color: #41e2ba;
}

.modal {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  align-items: center;
}

.calendar-cell-event {
  position: relative;
}

.calendar-cell-event::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(111, 200, 186);
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.modal-content {
  background-color: rgb(225, 251, 240);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 100%;
  margin-left: auto;
  animation: slideInRight 0.5s ease-in-out;
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.fade-out {
  animation: slideOutRight 0.5s forwards;
}

.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.event-item {
  background-color: #025e73;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  color: beige;
}

.event-item:hover {
  background-color: #0ad8a1;
}

.event-item:last-child {
  margin-bottom: 0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content-title {
  background-color: #41e2ba;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 8px 8px 0 0;
}

.content-modal {
  background-color: rgb(225, 251, 240);
  padding: 20px;
  border-radius: 8px;
}

#event-title {
  width: 75%;
  font-size: 22px;
  margin-top: 20px;
}
nav ul.menu li {
  /* display: inline-block; */
  padding: 0 10px; }

#event-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  background-color: rgb(225, 251, 240);
  border: 1px solid rgb(225, 251, 240);
}

.act-event {
  background-color: #41e2ba;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.del-event {
  background-color: #41e2ba;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.button-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-top: 20px;
}

.add-event {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-size: 16px;
  background-color: #41e2ba;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-list-ex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.event-item-ex {
  background-color: rgb(166, 228, 246);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.event-item-ex:hover {
  background-color: #0ad8a1;
}

.event-item-ex:last-child {
  margin-bottom: 0;
}

.calendar-cell-event-ex {
  position: relative;
}

.calendar-cell-event-ex::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(166, 228, 246);
}

.notifi-check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-notifi {
  font-size: 18px;
  text-align: center;
}

.container-button-not {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.accept-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #38c738;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(62, 243, 62, 0.4);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.accept-button:hover {
  transform: translateY(-3px);
}

.no-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e74c3c;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(231, 76, 60, 0.4);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.no-button:hover {
  transform: translateY(-3px);
}

#event-ticker {
  font-weight: bold;
}

/* Switch styles */
.switch {
  background: rgb(122, 214, 206);
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  margin: auto;
  width: 20%;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: #0ad8a1;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #1d1c1c;
  color: #fff;
  transition: 0.3s ease all;
}

body.dark-mode nav {
  background-color: #4a4f5a;
  
}

body.dark-mode .profile span{
  background-color: #4a4f5a;
}

body.dark-mode .main {
  background-color: #4a4f5a;
  
}

body.dark-mode main.content {
  background-color: #353b47;
 
}

body.dark-mode #calendar {
  background-color: #1d1c1c;
  color: #fff;
}

body.dark-mode .hamburger,
body.dark-mode .hamburger:after,
body.dark-mode .hamburger:before {
  background-color: #e6d8d8;
  color: #eeeff7;
}

body.dark-mode label {
  color: #000000;
}

body.dark-mode p {
  color: #000000;
}

.hamburger,
.hamburger:after,
.hamburger:before {
  background: #e5e8eb;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}

body.dark-mode .calendar-cell-header {
  background-color: #60cbb0;
}

body.dark-mode h1,
body.dark-mode h2 {
  color: #faefef;
}

body.dark-mode .text-dark {
  color: rgb(224 230 235) !important;
}

body.dark-mode .dropdown-toggle:after {
  color: rgb(224, 217, 217);
}

body.dark-mode footer.footer {
  background: #161515;
}

body.dark-mode .event-item {
  color: #ffffff;
}

body.dark-mode .event-item-ex {
  color: #000000;
}

body.dark-mode #event-title {
  color: #000000;
}

/* Navbar adjustment */
.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  flex-direction: row-reverse;
}

body.dark-mode .floating-form {
  background-color: #2b2929e7;
}

body.dark-mode h1,
body.dark-mode h2 {
  color: #ede0e0;
}

body.dark-mode .floating-form button {
  color: #1a1818;
}

body.dark-mode ul.nav-links a {
  transform: scale(1.1);
  color: #ebe1e1;
}

body.dark-mode .list-group {
  background: #bcc5d1;
}

body.dark-mode .dropdown-menu-header {
  border-bottom: 1px solid #959fab;
  font-weight: 600;
  padding: 0.75rem;
  text-align: center;
  color: beige;
  background: #343a40;
}

body.dark-mode nav ul.menu a
{
  color: beige;
}

.dark-mode header img {
  content: url("/static/assets/Iconos/+divWHITE.svg"); /* Ruta de la imagen en modo oscuro */
}
/*NOTIFICACIONES*/

.notificacion {
  padding: 15px;
  border: 2px solid rgb(166, 228, 246);
  margin: 5px;
  background-color: #f0f0f0;
}

.list-group {
  height: 500px;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  .calendar {
    width: 100%;
  }

  .calendar-grid {
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
  }

  .calendar-cell {
    padding: 3px;
    width: 50px;
    border: 1px solid #577169;
  }

  .event-item {
    font-size: 7px;
    padding: 3px;
  }

  .event-item-ex {
    font-size: 7px;
    padding: 3px;
  }

  .calendar-header {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .calendar-header button {
    margin: 2px 0;
  }

  .calendar-grid {
    grid-template-columns: repeat(7, 1fr);
  }

  .modal-content {
    width: 100%;
    max-width: none;
  }

  #event-title {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .calendar {
    width: 100%;
  }

  .calendar-header {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .calendar-header button {
    margin: 2px 0;
  }

  .calendar-grid {
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
  }

  .calendar-cell {
    padding: 3px;
    width: 40px;
  }

  .event-item {
    font-size: 6px;
    padding: 2px;
  }

  .event-item-ex {
    font-size: 6px;
    padding: 2px;
  }

  .modal-content {
    width: 100%;
    max-width: none;
  }

  #event-title {
    font-size: 16px;
  }
}

/* Bot��n de Chat */
.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2cceab;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.chat-button i {
  margin-right: 5px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50;
  top: 50;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(55, 68, 66, 0.5);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Formulario */
.floating-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(15, 199, 138, 0.479);
  width: 300px;
  z-index: 1000;
}

.floating-form h2 {
  margin-bottom: 20px;
  color: #fff;
  background: linear-gradient(135deg, #3ab9b3, #79d3c7);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.floating-form input,
.floating-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.floating-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3ab9b3;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.floating-form button:hover {
  background-color: #79d3c7;
}

/* nuevos ajustes a la barra*/

.header img {
  color: #f8f9fa;
  display: block;
  font-size: 1.15rem;
  font-weight: 600;
  height: 80px;
  width: auto;
  cursor: pointer;
  transition: all 0.3s;
}

header img:hover {
  transform: scale(1.2);
}

nav ul.menu{
  list-style: none;
}
nav ul.menu li.un:hover {
  transform: scale(1.2);
}
nav ul.menu li.do:hover {
  transform: scale(1.2);
}
nav ul.menu li.te:hover {
  transform: scale(1.2);
}

nav ul.menu  li {
  display: inline-block;
  padding: 0 20px;
}

nav ul.menu a {
  font-size: 700;
  color: #131414;
  text-decoration: none;
}
nav ul.menu li{
  transform: scale(1.1);
}

nav ul.menu li a:hover {
  color: #0ad8a1;
}

body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  box-shadow: 0 5px 5px rgb(209, 208, 208);
  width: 100%;
  height: 50px;
  margin: 5px;
}

header img {
  padding-left: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  padding: 0 10px 0 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
  color: #3f3e3e;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.user {
  display: flex;
  align-items: center;
  width: 35%;
}

.notification-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile span {
  font-weight: bold;
}

.container-info-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 20px;
  width: 100%;
  height: 687px;
}

.content-left {
  width: 60%;
  margin-left: 15px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.post-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
  height: 40px;
  border: 1px solid #000000;
  width: 90%;
  margin-top: 30px;
}

.post-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  font-size: 16px;
  margin-right: 10px;
  background-color: #f3f3f3;
}

.send-button {
  background: none;
  border: none;
  cursor: pointer;
}

.posts {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  overflow-y: scroll;
  height: 470px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  margin: 20px 0 20px 0;
  margin-top: 15px;
}

.post {
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid black;
  margin-bottom: 15px;
  width: 90%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.user-info {
  display: flex;
  margin-bottom: 10px;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.user-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.user-info span {
  color: #888;
  font-size: 14px;
}

.post p {
  font-size: 15px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  align-items: center;
  margin: auto;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-right: 10px;
}

.actions img {
  width: 20px;
  height: 20px;
}

aside {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 50px;
}

.follow-content {
  width: 20%;
  display: flex;
  margin-left: 50px;
  margin-top: 30px;
}

.user-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  width: 90%;
  border: 1px solid rgb(203, 203, 203);
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.user-card-info {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.user-card img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.user-card p {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.user-info-se {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.follow-button {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  width: 90%;
  height: 30px;
  transition: background-color 0.3s;
  margin: auto;
}

.follow-button:hover {
  background-color: #006699;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  display: block;
  bottom: auto;
  height: 30px;
  background-color: #5ee1c9;
}

.burger-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fffefe;
    width: 100%;
  }

  nav ul li {
    margin: 10px 0;
    text-align: center;
  }

  nav ul li a {
    color: black;
  }

  .burger-button {
    display: block;
  }

  .user {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 170px;
    right: 0;
    background-color: #fffefe;
    width: 100%;
    padding: 10px;
  }

  .profile {
    display: none;
    align-items: center;
    margin-top: 10px;
  }

  .profile img {
    margin-right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .container-info-perfil {
    display: none;
    flex-direction: column;
  }

  .container-info-perfil span{
    color: black;
  }
}
